{% extends "base.html" %}
{% block content %}
    <article style="display: contents;">
        <br><br>
        <a href="{{user.profile_pic_url}}" target="_blank"><img src="{{ user.profile_pic_url }}" alt="Profile Picture" width="100" height="100" style="border-radius: 100%;"></a>
        <br><br>
        <h3>Account</h3>
        <p>Name: {{ user.username }}</p>
        <p>Gender: {{ user.gender }}</p>
        <p>Number of completed tasks: {{ user.completed_task }}</p>
        <br>
    </article>
    {% if current_user == user %}
        <button type="button"><a style="color: gold;" href="{{ url_for('account.user_account')}}">Edit Account</a></button>
    {% endif %}
{% endblock %}